{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Hero Section -->
<form class="jumbotron text-center" action="/" method="POST" enctype="multipart/form-data">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 mb-3">
      <label for="todoTitle" class="form-label text-start">Todo Title</label>
      <input type="text" class="form-control form-control-sm" name="title" id="todoTitle" aria-describedby="emailHelp">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 mb-3">
      <label for="todoDescription" class="form-label text-start">Todo Description</label>
      <input class="form-control form-control-sm" name="desc" id="todoDescription" rows="4"></input>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 mb-3">
      <label for="todoImage" class="form-label text-start">Todo Image</label>
      <input type="file" class="form-control form-control-sm" name="image" id="todoImage">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Products Section -->
{% if allTodo|length == 0 %}
<div class="alert alert-dark" role="alert">
  No records 🔕
</div>
{% else %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Date Created</th>
      <th scope="col">Actions</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {% for todo in allTodo %}
    <tr>
      <td>{{ todo.sno }}</td>
      <td>{{ todo.title }}</td>
      <td>{{ todo.desc }}</td>
      <td>{{ todo.date_created.strftime('%I:%M %p, %d %b %Y') }}</td>
      <td>
        <!-- Update and Delete buttons -->
        <a href="/update/{{ todo.sno }}" class="btn btn-outline-dark">Update</a>
        <a href="/delete/{{ todo.sno }}" class="btn btn-outline-dark">Delete</a>
      </td>
      <td>
        {% if todo.image %}
        <img src="{{ url_for('static', filename=todo.image) }}" alt="Todo Image"
          style="max-width: 100px; max-height: 100px;">
        {% else %}
        <p>No Image</p>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}